:root {
    --text-font: "Roboto", sans-serif;
    --logotype-font: "Raleway", sans-serif;
    --accent-color: #2196F3;
  }
body {
    font-family: var(--text-font);
    color: #757575;
    } 

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin: 0;
    }
    
    ul,
    ol {
      margin: 0;
      padding: 0;
    }
    
    img {
      display: block;
    }
    
    .list {
      list-style: none;
    }
    
    .link {
      text-decoration: none;
    }
    
    .address {
      font-style: normal;
    }
    .container {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    .social-list{
        display: flex;
        justify-content: space-between;
        }
    .social-list-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: #ffffff;
        border-radius: 50%;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .social-list-item-link:hover,
    .social-list-item-link:focus {
        background-color: var(--accent-color);
    }
    .social-list-item-link:hover .social-list-item-icon,
    .social-list-item-link:focus .social-list-item-icon {
        fill: #ffffff;
    }
    .social-list-item-icon{
        width: 20px;
        height: 20px;
        fill: #AFB1B8;
        }
        .visually-hidden {
            position: absolute !important;
            clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0 !important;
            border: 0 !important;
            height: 1px !important;
            width: 1px !important;
            overflow: hidden;
          }
   

/* --header section-- */
.header .container {
    display: flex;
    align-content: center;
}
.header{
    border-bottom: 1px solid #ECECEC;
}

.logotype {
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
font-family: var(--logotype-font);
color: #2196F3;
margin-right: 93px;
padding-bottom: 25px;
padding-top: 25px;
}
.logotype-light-theme {
    color: #000000;
}
.logotype-dark-theme {
    color: #ffffff;
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation-list{
    display: flex;
    align-items: center;
}
.navigation-list-item:not(:last-child){
    margin-right: 50px;
}
.navigation-list-item {
    position: relative;
}
.navigation-list-item-curent::after {
    content: '';
    position: absolute;
    display: flex;
    background: #2196F3;
    border-radius: 2px;
    width: 100% ;
    height: 4px;
    transform-origin: center;
    top: 46.5px;
}
.navigation-list-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
    color: var(--accent-color);
}
.address-header {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.address-list{
    display: flex;
    align-items: center;
}
.address-list-item{
    display: flex;
    align-items: center;
}
.address-list-item:not(:last-child) {
    margin-right: 50px;
}


.email-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email-link:hover,
.email-link:focus {
    color: var(--accent-color)
}
.tel-link:hover,
.tel-link:focus {
    color: var(--accent-color)
}
.mail-icon {
    align-items: center;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.email-link:hover .mail-icon,
.email-link:focus .mail-icon{
    fill: var(--accent-color);
}
.tel-icon {
    margin: 0 auto;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link:hover .tel-icon,
.tel-link:focus .tel-icon{
    fill: var(--accent-color);
}

/* --end header section-- */

/* Main Hero */

/* Order */
.order .container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.order{
    background: #2F303A;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../images/backimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.order-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 200px;
    margin-bottom: 30px;
    width: 650px;
}
.order-button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    width: 200px;
    height: 50px;   
    margin-right: 700px;
    margin-left: 700px;
    margin-bottom: 200px;
    cursor: pointer;
}

/* End order */

/* End Hero */

/* Adventages */
.adv {
    padding-bottom: 95px;
    padding-top: 95px;
}
.adv-liste {
    display: flex;
    align-content: center;
    justify-content: center;
}
.adv-title{
    display: none;
}
.adv-list-item-title {
font-weight: 700;
font-size: 14px;
line-height: 1.142px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-top: 35px
}
.adv-list-item-text {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-top: 15px;
max-width: 260px;
}
.adv-list-item:not(:last-child) {
    margin-right: 30px;
}
.adv-list-item-icon {
    width: 65px;
    height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 102px;
    padding-right: 102px;
    background-color: #F5F4FA;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
/* End Adventages */

/* What are we doing */
.work {
    padding-bottom: 95px;
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
display: none;
}
.work-list-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: -15px;
}
.work-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;

}
.work-list-item:not(:last-child){
    margin-right: 30px;
}
.work-list-item-images-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 35px;
    color: #FFFFFF;
}
.work-list-item-images-div {
    width: 370px;
    position: absolute;
    top: 225px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}
/* End What are we doing */

/* About us */
.aboutus {
    background-color: #F5F4FA;
    padding-top: 95px;
    padding-bottom: 95px;
}

.aboutus-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.aboutus-list {
    align-content: center;
    display: flex;
    margin: -15px;

}
.aboutus-list-item{
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid #EEEEEE;

}
.aboutus-list-div {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;

}
.aboutus-list-item-images{
    margin-bottom: 30px;
}
.aboutus-list-item-title {
font-weight: 500;
font-size: 16px;
line-height: 1.18px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 20px;
}
.aboutus-list-item-text {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 15px;
}
/* Customers */
.customers {
    padding-top: 95px;
    padding-bottom: 95px;
}
.customers-title {
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 60px;
}
.customers-list {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.customers-list-item {
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}
.customers-list-item-icon {
    fill:#AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-item-icon1 {
    width: 45px;
    height: 49px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 63px;
    margin-left: 63px;
}
.customers-list-item-icon2 {
    width: 40px;
    height: 52px;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: 65px;
    margin-left: 65px;
}
.customers-list-item-icon3 {
    width: 41px;
    height: 42px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 64px;
    margin-left: 64px;
}
.customers-list-item-icon4 {
    width: 80px;
    height: 42px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 45px;
    margin-left: 45px;
}
.customers-list-item-icon5 {
    width: 59px;
    height: 47px;
    margin-top: 22px;
    margin-bottom: 21px;
    margin-right: 55px;
    margin-left: 56px;
}
.customers-list-item-icon6 {
    width: 88px;
    height: 45px;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: 40px;
    margin-left: 41px;  
}
.customers-list-item-link {
    display: block;
    width: 170px;
    height: 90px;
}
.customers-list-item-link:hover .customers-list-item-icon,
.customers-list-item-link:focus .customers-list-item-icon {
    fill: var(--accent-color);
}
.customers-list-item:hover {
    border: 1px solid var(--accent-color);
}

/* End Customers */
/* End About us */

/* footer links */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer-logotype {
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
font-family: var(--logotype-font);
color: #2196F3;
}
.footer-div{
    display: block;
}
.footer-address{
    margin-top: 20px;
}
.footer-address-list-item{
    margin-top: 10px;
}
.footer-address-location {
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
font-style: normal;
}
.footer-tel-link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel-link:hover,
.footer-tel-link:focus{
    color: var(--accent-color)
}
.footer-email-link {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-email-link:hover,
.footer-email-link:focus{
    color: var(--accent-color)
}
.footer-social-div {
    width: 206px;
    height: 80px;
    display: block;
    padding-top: 19px;
    margin-left: 70px;
}
.footer-social-title{
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social_footer-list{
    display: flex;
    justify-content: space-between;
    }
.social_footer-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.social_footer-list-item-link:hover,
.social_footer-list-item-link:focus {
    background-color: var(--accent-color);
    }
.social_footer-list-item-link:hover .social-list-item-icon,
.social_footer-list-item-link:focus .social-list-item-icon {
    fill: #ffffff;
    }
.social_footer-list-item-icon{
    width: 20px;
    height: 20px;
    fill: #ffffff;
    }    
    
    .footer-form-div {
        margin-left: 93px;
        align-items: center;
    }
    .footer-form {
    }
    .footer-form-label {
        display: block;
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .footer-form-input-div {
        display: flex;
        align-items:flex-end;
    }
    .footer-form-input {
    min-width: 358px;
    min-height: 50px;
    margin-top: 20px;
    margin-right: 10px;
    padding-left: 15px;
    outline: none;
    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    }
    .footer-form-button {
        align-items: center;
        justify-content: center;
        cursor: pointer;
        min-width: 200px;
        height: 50px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
    .footer-form-button-icon {
        width: 24px;
        height: 24px;
        margin-left: 10px;
    } 
/* End footer links */

/* Portfolio page */

/* Portfolio buttons */
.portfolio {
    padding-top: 95px;
    padding-bottom: 95px;
}
.portfolio_buttons-list {
    margin-bottom: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.portfolio_buttons-list-item:not(:last-child) {
    margin-right: 10px;
}
.portfolio_buttons-title {
    display: none;
}
.portfolio_buttons-list-item-text {
min-width: 100px;
min-height: 40px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background: #F5F4FA;
border-radius: 4px;
border-style: none;
transition-property: color, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio_buttons-list-item-text:hover,
.portfolio_buttons-list-item-text:focus{
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio_buttons-list-item-text {
    cursor: pointer;
}
/* End portfolio buttons */
/* Portfolio products */
.portfolio-title {
color:rgba(255, 255, 255, 0);
visibility: hidden;
display: none;
}
.portfolio-list {
    display: flex;
    align-content: center;
    margin: -15px;
    flex-wrap: wrap;
}
.portfolio-list-item{
    margin: 15px;
    border: 1px solid #EEEEEE;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item-title{
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 5px;
}
.portfolio-list-item-text {
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}
.portfolio-list-div{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.portfolio_buttons-list-item-text-chosen {
    background-color: var(--accent-color);
    color: #ffffff;
}
.portfolio-list-item-image {

}
.portfolio-list-item-link-div {
    width: 370px;
    height: 404px;
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list-item-link:focus .portfolio-list-item-link-div {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-image-div {
    position: relative;
    overflow: hidden;
}
.portfolio-image-div-text {
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    left: 0;
    top: 0;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 20px;
    padding-right: 30px;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    overflow: scroll;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .portfolio-image-div-text{
    transform: translateY(0);
}
.portfolio-list-item-link:focus .portfolio-image-div-text{
    transform: translateY(0);
}
/* end portfolio */

/* modal-window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    width: 528px;
    height: 581px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
/* end modal window */

/* modal form */
.modal-close-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}
.modal-close-button-icon {
    width: 20px;
    height: 20px;
    padding-top: 3px;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button-icon:hover {
    fill: var(--accent-color);
}
.modal-close-button:focus .modal-close-button-icon{
    fill: var(--accent-color);  
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.modal-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 12px;

    color: #212121;
}
.modal-form-icon-name {
    width: 17px;
    height: 17px;
    position: absolute;
    fill: #212121;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon-tel {
    width: 17px;
    height: 16px;
    position: absolute;
    fill: #212121;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon-email {
    width: 20px;
    height: 16px;
    position: absolute;
    fill: #212121;
    transform: translateY(-50%);
    top: 50%;
    left: 14px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label {
    align-self:flex-start;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 7px;
}
.modal-form-input {
    min-width: 448px;
    height: 40px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px; 
    margin-top: 7px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modai-form-input-align {
    display: block;
    position: relative;
}
.modal-form-textarea{
    width: 448px;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}
.modal-form-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.modal-form-label-license {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    transition-property: outline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
.modal-form-input:focus {
    padding-left: 42px;
}
.modal-form-label-license::before {
    display: inline-block;
    content: "";
    background-image: url(../images/Vector.svg);
    width: 16px;
    height: 15px;
    fill:#000000;
    align-self: center;
    background-repeat: no-repeat;
    margin-right: 10px;
    transition-property: background-image;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-license:checked + .modal-form-label-license::before {
    background-image: url(../images/iconcheck.svg);
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
    align-self: center;
}
.modal-form-check-license:focus + .modal-form-label-license::before {
   outline: 1px solid var(--accent-color);
}
.modal-form-button {
    min-width: 200px;
    min-height: 50px;
    margin-top: 40px;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.modal-form-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
}
.modal-form-input:focus + .modal-form-icon-email,
.modal-form-input:focus + .modal-form-icon-tel,
.modal-form-input:focus + .modal-form-icon-name {
    fill: var(--accent-color);
}
.modal-form-liense-link {
    color: var(--accent-color);
}
.modal-form-textarea:focus{
    outline: none;
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
    border-radius: 4px;
}
/* end modal form */

